* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One';
}
body {
  background-color: #272727;
}
button {
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  color: #202020;
}

.root {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}
