* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: azure;
  background-color: #444444;
  font-family: 'Montserrat Alternates', sans-serif;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-btn {
  padding: 10px 15px;
  background-color: #4ecdc4;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}

.date-widget {
  width: 500px;
  height: 150px;
  background-color: #ff6b6b;
  position: fixed;
  border-radius: 20px;
  font-size: 50px;
  display: none;
  border: 3px solid whitesmoke;
}

.date-widget p {
  margin-top: 45px;
  letter-spacing: 10px;
  background-color: #ff9b85;
}
